input{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.heading{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}


main{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

button[type="submit"]{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    padding: 5 15 5 15;
}

 button[type="submit"]:hover{
    background-color: #ffffff;
    color: #000000;
    transition: 0.5s;
    border: #000000 1px solid;
}
button[type="submit"]:focus{
    background-color: #ffffff;
    color: #000000;
    transition: 0.5s;
    border: #000000 1px solid;
}