html{
    scroll-behavior: smooth;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin-top: -25vh;
}

.container h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

.container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    padding: 20px;
}

.reg_form input{
    width: 300px;
    height: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 15px;
    margin-bottom: 8px;
    padding: 10px;
}

.reg_form input:hover{
    outline: none;
    border: 0.5px solid #000000;
    transition: 0.5s ease-in-out;
}

.reg_form input:focus{
    border: 2px solid #000000;
    transition: 0.5s ease-in-out;
}

.reg_form p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.reg_form button[type="submit"]{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    padding: 5 15 5 15;
}

.reg_form button[type="submit"]:hover{
    background-color: #ffffff;
    color: #000000;
    transition: 0.5s;
    border: #000000 1px solid;
}

.reg_form button[type="submit"]:focus{
    background-color: #ffffff;
    color: #000000;
    transition: 0.5s;
    border: #000000 1px solid;
}

.signin{
    text-decoration: ubderline;
    color: #000000;
    font-weight: bold;
}

.signin:hover{
    color: #000000;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

/* .footer{
    bottom: 0;
    position: fixed;
    width: 100%;
} */

@media screen and (max-width: 768px){
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }

    .container form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 40%;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        padding: 20px;
    }

    .reg_form input{
        width: 300px;
        height: 40px;
        border: 1px solid #d4d4d4;
        border-radius: 15px;
        margin-bottom: 8px;
        padding: 10px;
    }

    .reg_form input:hover{
        outline: none;
        border: 0.5px solid #000000;
        transition: 0.5s ease-in-out;
    }

    .reg_form input:focus{
        border: 2px solid #000000;
        transition: 0.5s ease-in-out;
    }

    .container h1{
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        color: #000000;
        margin-bottom: 20px;
    }
}
    
